:root {
  --purple5: #0c041c;
  --purple4: #120926;
  --purple: #1a0d36;
  --purple2: #4e3e80;
  --purple3: #8f7bcc;
  --purple6: #2c1a54;
  --purple7: #1d0f3c;
  --mint: #ade3d9;
  --black: #222;
  --red: #803e3e;

  --space-xs: 0.2em;
  --space-sm: 0.9em;
  --space-md: 1.8em;

  --transition-fast: 90ms;
  --transition-medium: 200ms;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  letter-spacing: 0.02em;
  height: 100vh;
  color: white;
}
p {
  position: relative;
  color: var(--purple3);
  padding-right: var(--space-md);
  margin: 0 0 var(--space-sm);
  cursor: default;
  display: block;
}
p:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--purple6);
}
button {
  display: block;
  cursor: pointer;
  color: var(--purple2);
  transition: all var(--transition-fast);
  font-size: 0.88em;
  padding: var(--space-xs);
  border-radius: 0;
  background: none;
  border: 0;
}
button:hover,
button.active {
  color: white;
}
button.active:hover {
  cursor: default;
}
select {
  min-width: 160px;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background: linear-gradient(var(--purple), 64%, var(--purple4));
}
.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: var(--space-md);
}
header > div {
  flex: 1;
}

.main-container {
  position: relative;
  display: flex;
  flex: 1;
}
.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 169%;
  display: flex;
  flex: 1;
  transition: all var(--transition-medium);
}
.main.isEditorOpen {
  width: 100%;
}
.dag-svg-container {
  position: relative;
  padding: var(--space-md) var(--space-sm);
  flex: 3;
  text-align: center;
}
.dag-svg {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--space-sm);
  width: 100px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: 1fr;
  transition: all var(--transition-fast);
  opacity: 0.14;
}
.logo::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.logo > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.logo > div.purple {
  background: var(--purple2);
}
.logo:hover {
  opacity: 0.2;
}

.editor {
  position: relative;
  flex: 2;
  background: var(--purple4);
  padding: var(--space-md) 0 var(--space-md) var(--space-md);
  font-size: 1.5em;
}
.editor.isEditorOpen {
  /* background: var(--purple); */
}
.editor-pane {
  background: var(--purple5);
  max-height: calc(100% - var(--space-md));
  border-left: 1px solid var(--purple);
  border-top: 1px solid var(--purple);
  overflow-y: auto;
  color: var(--purple3);
  padding: var(--space-sm) var(--space-md);
}
.editor .tab {
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 20px; /* one-off */
  background: var(--purple);
  transition: all var(--transition-fast);
}
.editor .tab:hover {
  background: var(--purple2);
}
.editor .node {
  display: flex;
  padding: var(--space-sm) 0;
}
.editor .node + .node {
  border-top: 1px solid var(--purple);
}
.editor .node-id {
  position: relative;
  align-self: center;
  padding-right: var(--space-sm);
  font-family: monospace;
  min-width: 30px;
  color: white;
  cursor: default;
}
.editor .node-id .button-remove {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-47%);
  font-family: monospace;
  font-size: 0.7em;
  padding: var(--space-xs);
  color: var(--purple6);
}
.editor .node-id .button-remove:hover {
  color: var(--red);
  display: block;
}
.editor .pids {
  flex: 1;
}
.editor .button-pid {
  font-family: monospace;
  display: inline-block;
  padding: var(--space-xs);
  min-width: 30px;
}
.editor .button-pid.disabled {
  background: var(--purple4);
  pointer-events: none;
  opacity: 0.5;
}
.editor .button-pid.connected {
  background: var(--purple2);
  color: #bbb;
}
.editor .button-pid:hover {
  background: var(--purple);
}
.editor .button-pid.connected:hover {
  background: var(--purple2);
  color: #fff;
}
.editor .node-add {
  padding-top: var(--space-sm);
}

.editor .button-add {
  width: 100%;
  padding: var(--space-sm);
  font-family: monospace;
  background: var(--purple);
}
.editor .button-add:hover {
  color: var(--purple3);
  background: var(--purple7);
}
