:root {
  --gray000: #000;
  --gray16: #161616;
  --gray26: #262626;
  --gray3d: #3d3d3d;
  --gray54: #545454;
  --gray80: #808080;
  --grayccc: #ccc;

  --red: #803e3e;

  --space-xxs: 0.24em;
  --space-xs: 0.4em;
  --space-sm: 0.9em;
  --space-md: 1.8em;

  --transition-fast: 90ms;
  --transition-medium: 200ms;
  --transition-slow: 1200ms;
  --transition-pulse: 3200ms;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  letter-spacing: 0.02em;
  height: 100vh;
  color: white;
  font-size: 0.8em;
}
@media (min-width: 480px) {
  body {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1em;
  }
}
p {
  position: relative;
  color: var(--grayccc);
  padding-right: var(--space-md);
  margin: 0 0 var(--space-sm);
  cursor: default;
  display: block;
}
p:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 80%;
  height: 1px;
  background: var(--gray54);
}
@media (min-width: 480px) {
  p:after {
    width: 100%;
  }
}
button {
  display: block;
  color: var(--gray80);
  padding: var(--space-xs);
  font-size: 0.88em;
  border-radius: 0;
  background: none;
  border: 0;
  transition: all var(--transition-fast);
  cursor: pointer;
}
@media (min-width: 480px) {
  button {
    padding: var(--space-xxs);
  }
}
button:hover,
button.active {
  color: white;
}
button.active:hover {
  cursor: default;
}
select {
  min-width: 160px;
}
#root {
  height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: fade-in var(--transition-slow);
}
header {
  background: linear-gradient(var(--gray26), 64%, var(--gray16));
  z-index: 2;
}
.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: var(--space-sm);
}
@media (min-width: 480px) {
  .header-inner {
    padding: var(--space-md);
  }
}
header > div {
  flex: 1;
}
header button {
  padding-left: 0;
  text-align: left;
}

.main-container {
  position: relative;
  display: flex;
  flex: 1;
}
.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all var(--transition-medium);
}
@media (min-width: 768px) {
  .main {
    width: 169%;
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .main {
    width: 168%;
  }
}
.main.isEditorOpen {
  width: 100%;
}
@media (min-width: 1400px) {
  .main.isEditorOpen {
    width: 100%;
  }
}
.dag-svg-container {
  position: relative;
  padding: var(--space-md) var(--space-sm);
  flex: 3;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.dag-svg {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--space-sm);
  width: 80px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: 1fr;
  transition: all var(--transition-fast);
  opacity: 0.05;
}
.logo::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.logo > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.logo > div.gray {
  background: var(--gray80);
}
.logo:hover {
  opacity: 0.1;
}

.editor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 50%;
  box-sizing: border-box;
  background: var(--gray16);
  font-size: 1.5em;
  z-index: 1;
  transition: all var(--transition-fast);
}
@media (min-width: 768px) {
  .editor {
    position: relative;
    flex: 2;
    bottom: 0;
    height: auto;
    padding: var(--space-md) 0 var(--space-md) var(--space-md);
  }
}
.editor.isEditorOpen {
  bottom: 50%;
}
@media (min-width: 768px) {
  .editor.isEditorOpen {
    bottom: 0;
  }
}

.editor-pane {
  background: var(--gray000);
  max-height: calc(100% - var(--space-md));
  border-left: 1px solid var(--gray26);
  border-top: 1px solid var(--gray26);
  overflow-y: auto;
  color: var(--grayccc);
  padding: var(--space-sm) var(--space-md);
}
@keyframes pulse {
  0% {
    background: var(--gray26);
  }
  52% {
    background: var(--gray26);
  }
  64% {
    background: var(--gray80);
  }
  76% {
    background: var(--gray26);
  }
  88% {
    background: var(--gray80);
  }
  100% {
    background: var(--gray26);
  }
}
.editor .tab {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  bottom: calc(-1 * var(--space-md));
  height: var(--space-md);
  background: var(--gray26);
  transition: all var(--transition-fast);
  animation: pulse var(--transition-pulse);
}
.editor .tab:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* down triangle */
  width: 0;
  height: 0;
  border-top: 9px solid var(--gray54);
  border-right: 9px solid transparent;
  border-bottom: none;
  border-left: 9px solid transparent;
}
.isEditorOpen .editor .tab:after {
  /* up triangle */
  border-top: none;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--gray54);
  border-left: 9px solid transparent;
}
@media (min-width: 768px) {
  .editor .tab {
    left: 100%;
    top: 0;
    bottom: 0;
    height: auto;
    width: 20px; /* one-off */
  }
  .editor .tab:after {
    /* right triangle */
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: none;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--gray54);
  }
  .isEditorOpen .editor .tab:after {
    /* left triangle */
    border-top: 8px solid transparent;
    border-right: 8px solid var(--gray54);
    border-bottom: 8px solid transparent;
    border-left: none;
  }
}

.editor .tab:hover {
  background: var(--gray80) !important; /* override pulse */
}
.editor .node {
  display: flex;
  padding: var(--space-sm) 0;
}
.editor .node + .node {
  border-top: 1px solid var(--gray26);
}
.editor .node-id {
  position: relative;
  align-self: center;
  padding-right: var(--space-sm);
  font-family: monospace;
  min-width: 30px;
  color: white;
  cursor: default;
}
.editor .node-id .button-remove {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-47%);
  font-family: monospace;
  font-size: 0.7em;
  padding: var(--space-xxs);
  color: var(--gray54);
}
.editor .node-id .button-remove:hover {
  color: var(--red);
  display: block;
}
.editor .pids {
  flex: 1;
}
.editor .button-pid {
  font-family: monospace;
  display: inline-block;
  padding: var(--space-xxs);
  min-width: 30px;
}
.editor .button-pid.disabled {
  background: var(--gray16);
  pointer-events: none;
  opacity: 0.5;
}
.editor .button-pid.connected {
  background: var(--gray80);
  color: #bbb;
}
.editor .button-pid:hover {
  background: var(--gray26);
}
.editor .button-pid.connected:hover {
  background: var(--gray80);
  color: #fff;
}
.editor .node-add {
  padding-top: var(--space-sm);
}

.editor .button-add {
  width: 100%;
  padding: var(--space-sm);
  font-family: monospace;
  background: var(--gray26);
}
.editor .button-add:hover {
  color: var(--grayccc);
  background: var(--gray3d);
}
